.testimonial .swiper-button-prev,
.testimonial .swiper-button-next,
.header_home .swiper-button-prev,
.home .header_home .swiper-button-next {
  background-color: #6c757d;
  padding: 20px;
  color: white;
}

.testimonial .swiper-button-prev,
.testimonial .swiper-button-next {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonial .swiper-button-prev::after,
.testimonial .swiper-button-next::after,
.home .header_home .swiper-button-prev::after,
.home .header_home .swiper-button-next::after {
  font-size: 18px;
}

.testimonial .swiper-pagination-bullet,
.home .header_home .swiper-pagination-bullet {
  background-color: #6c757d;
  opacity: .5;
  padding: 6px;
}

.testimonial .swiper-pagination-bullet-active,
.home .header_home .swiper-pagination-bullet-active {
  background-color: #ef3636;
  opacity: 1;
}

.bg_red {
  background-color: #ef3636;
}

.text_red {
  color: #ef3636;
}

.border_red {
  border: 1px solid #ef3636 !important;
}